#loginForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#registerForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 1rem;
    border: 2px solid var(--input-normal-border);
    background: transparent;
    color: var(--normal-text);
    width: 100%;
}

    input[type="text"]:focus {
        outline: none;
        border: 2px solid var(--input-active-border) !important;
    }
    input[type="password"]:focus {
        outline: none;
        border: 2px solid var(--input-active-border) !important;
    }

.inputErrorBorder {
    border: 2px solid var(--input-error-border) !important;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
    .inputWrapper label{
        padding: 10px;
    }

    .inputWrapper small {
        padding-top: 0.5rem;
        color: var(--red);
        text-align: center;
    }

.submitWrapper {
    margin-top: 1rem;
    text-align: center;
}