#questionsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 1em;
    gap: 2em;
}

.questionWrapper {
    background: var(--card-background);
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 80vh;
}

.questionTitleWrapper {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

    .questionTitleWrapper h4 {
        text-align: center;
    }

.questionUrlWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 1em;
    height: 30%;
    overflow: hidden;
}

    .questionUrlWrapper img {
        height: 100%;
        object-fit: contain;
        border-radius: 6px;
        pointer-events: none;
    }

.votationWrapper {
    height: 60%;
    width: 100%;
    position: relative;
}
    .votationWrapper .questionDescription {
        text-align: center;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        .votationWrapper .questionDescription span {
            color: var(--description-text);
            display: block;
            max-height: 63px;
            overflow: auto;
        }

    .votationWrapper .radioWrapper {
        background: var(--card-background-2);
        overflow: auto;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
    }

        .votationWrapper .radioWrapper .radioButtonWrapper {
            margin-left: 1em;
            display: flex;
            align-items: center;
            margin-top: 1em;
        }

            .votationWrapper .radioWrapper .radioButtonWrapper input[type=radio] {
                height: 35px;
                width: 35px;
                appearance: none;
                border-radius: 0.5em;
                background: var(--card-background);
                padding: 5px;
                border: 3px solid var(--radio-border-inactive);
            }

            .votationWrapper .radioWrapper .radioButtonWrapper input[type=radio]:checked{
                border: 3px solid var(--radio-border-active)
            }

            .votationWrapper .radioWrapper .radioButtonWrapper label{
                padding-left: 0.5em;
                width: 100px;
            }

.questionFooter {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .questionFooter button {
        width: 145px;
        height: 50px;
    }

.zoomedImageWrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: calc(100% - 2em);
    border-radius: 1em;
}

    .zoomedImageWrapper img {
        width: 100%;
    }