<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Editor</title>
        <meta charset="utf-8"/>
        <meta name="author" content="fukashigi35" />
        <meta name="copyright" content="Owner of the copyright" /> 
        <meta name="robots" content="noindex"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="js/editor.js"></script>
        <script type="text/javascript" src="js/utils/globalScript.js"></script>
        <script type="text/javascript" src="js/utils/fnUtils.js"></script>

        <link rel="stylesheet" href="css/editor.css">
        <link rel="stylesheet" href="css/globalStyle.css">
    </head>
    <body>
        <div class="contentWrapper">
            <button>crear</button>
            <div class="awardsWrapper">
                <div class="awardElement">
                    
                </div>
                <div class="awardElement">
                    
                </div>
            </div>
        </div>
    </body>
</html>