<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyAward</title>
        <meta charset="utf-8"/>
        <meta name="description" content="A simple web application that allows you to create your own awards for your community."/>
        <meta name="author" content="fukashigi35" />
        <meta name="copyright" content="Owner of the copyright" /> 
        <meta name="robots" content="index"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="js/index.js"></script>

        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/globalStyle.css">
    </head>
    <body>
        <header>
            <i class="fa-solid fa-bars"></i>
            <div class="logoHeaderWrapper">
                <img src="img/motion_pose_icon.png" alt="MyAward_icon">
                <span>MyAward</span>
            </div>
            <div class="buttonHeaderWrapper">
                <button class="primaryButton" id="loginButton">Log in</button>
                <button class="secondaryButton" id="signupButton">Sign up</button>
            </div>
        </header>
    </body>
</html>