<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log in</title>
        <meta charset="utf-8"/>
        <meta name="author" content="fukashigi35" />
        <meta name="copyright" content="Owner of the copyright" /> 
        <meta name="robots" content="noindex"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="js/login.js"></script>
        <script type="text/javascript" src="js/utils/fnUtils.js"></script>
        <script type="text/javascript" src="js/utils/globalScript.js"></script>

        <link rel="stylesheet" href="css/globalStyle.css">
        <link rel="stylesheet" href="css/form.css">
    </head>
    <body>
        <div class="contentWrapper">
            <form id="loginForm">
                <div class="inputWrapper">
                    <label for="usernameEmailInput">Username or email</label>
                    <input type="text" id="usernameEmailInput" name="usernameEmailInput"> 
                    <small></small>
                </div>
                <div class="inputWrapper">
                    <label for="passwordInput">Password</label>
                    <input type="password" id="passwordInput" name="passwordInput"> 
                    <small></small>
                </div>
                <div class="submitWrapper">
                    <button type="submit" class="primaryButton">Log in</button>
                </div>
            </form>
        </div>
    </body>
</html>