<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="utf-8"/>
        <meta name="author" content="fukashigi35" />
        <meta name="copyright" content="Owner of the copyright" /> 
        <meta name="robots" content="noindex"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="js/register.js"></script>
        <script type="text/javascript" src="js/utils/globalScript.js"></script>
        <script type="text/javascript" src="js/utils/fnUtils.js"></script>

        <link rel="stylesheet" href="css/register.css">
        <link rel="stylesheet" href="css/globalStyle.css">
    </head>
    <body>
        
        <div class="contentWrapper">
            <form id="registerForm" autocomplete="off">
                <div>
                    <label for="usernameInput">Username</label>
                    <input type="text" id="usernameInput" name="usernameInput"> 
                    <small></small>
                </div>
                <div>
                    <label for="emailInput">Email</label>
                    <input type="email" id="emailInput" name="emailInput"> 
                    <small></small>
                </div>
                <div>
                    <label for="emailConfirmInput">Confirm email</label>
                    <input type="email" id="emailConfirmInput" name="emailConfirmInput"> 
                    <small></small>
                </div>
                <div>
                    <label for="passwordInput">Password</label>
                    <input type="password" id="passwordInput" name="passwordInput"> 
                    <small></small>
                </div>
                <div>
                    <label for="passwordConfirmInput">Confirm password</label>
                    <input type="password" id="passwordConfirmInput" name="passwordConfirmInput"> 
                    <small></small>
                </div>
                <div>
                    <button type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </body>
</html>